h1 {
    font-size: 28px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

p.description {
    margin: 0px 10px;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    width: 50vw;
}

.list {
    color: orange;
    text-align: left
}

.picture {
    float: right;
    display: inline;
    width: 35vw;
    height: auto;
}
h2{
    text-align: center;
}